body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.nav_section{ /*if you use margin auto in nav tag, then your navigation center*/
  width: 100%;
  background-color: #e7e7e7;
  box-shadow:0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  padding-right: 30px;
}
/* =====TMENU ITEM DESIGN=====*/
.ul_list{ 
  display: flex;  /*if you use display flex in ul tag, then your item list display show flex*/
  list-style: none; /*if you use list-style none in ul tag, then your item bolet point none*/
  margin-top: 0;
  margin-bottom: 0;
  justify-content: right;
}
.item_link{
  padding: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(49, 44, 44);
  display: inline-flex;
}
/* =====ITEM UNDERLINED=====*/
.item-underlined{
  position: relative;
  overflow: hidden;  
}
.item-underlined::before, 
.item-underlined::after{
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: rgb(141, 141, 141);
  position: absolute;
}
.item-underlined::before{
  left: 50%;
  transform: translateX(50%); 
}
.item-underlined::after{
  right: 50%;
  transform: translateX(50%); 
}
/* =====ITEM UNDERLINED WHEN HOVER=====*/ 
.item-underlined:hover::before{
  width: 100%;
  transition-duration: .5s;
}
.item-underlined:hover::after{
  width: 100%;
  transition-duration: .5s;
}




/*responsive design mobile vertion*/
@media only screen and (max-width : 640px){
  .nav_section{
      display: none;
  }}

  @media only screen and (max-width : 640px){
    .nav_section{
      margin-top: 20px;
      width: 100%;
      background-color: #030303;
      box-shadow:0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
      }
      .ul_list{ 
        list-style: none; /*if you use list-style none in ul tag, then your item bolet point none*/
        margin-top: -20px;
        margin-bottom: -30px;
        display: block;
      }
      .item_link{
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin: 2px;
      }
      .item-underlined::before, 
      .item-underlined::after{
        content: "";
        width: 0;
        height: 2px;
        bottom: 0;
        background-color: rgb(255, 0, 0);
        position: absolute;
      }
    }


