body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
}
.center-box{
    margin: 100px auto;
    padding: 10px 5px;
    border-radius: 40px;
    width: 400px;
    height: 450px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}
.center-box h2{
    color: black;
}
.text-fiel{
    padding: 10px 10px;
    width: 350px;
    margin: 30px 0;
    border-radius: 10px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
}
.btn-style{
    padding: 10px 40px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.btn-style:hover{
    background-color: rgb(225, 225, 225);
    color: rgb(0, 0, 0);
}


.an-btn{
    margin-top: 40px;
    padding: 6px 50px;
    border-radius: 5px;
    border: 0;
    color: rgb(130, 189, 142);
    font-size: 11pt;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}
#login-div{
    display: none;
}
.result-box{
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    display: none;
}
@media (max-width:576px){
    .center-box{
        margin: 100px auto;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 40px;
        width: 300px;
        height: 350px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    .text-fiel{
        padding: 10px 10px;
        width: 250px;
        margin: 20px 0;
        font-size: 15px;
    }
}