.mainCon{
    padding-top: 30px;
    padding-bottom: 30px;
    background: conic-gradient(rgb(234, 107, 209), rgb(245, 245, 245) ,rgb(255, 255, 255), rgb(136, 241, 255), rgb(168, 243, 168)); 
}

.contactTitle h2,
.contactTitle p{
   text-align: center;
   max-width: 1000px;
   margin: 20px auto;
}
.contactIn i{
    font-size: 60px;
    color: rgb(9, 61, 64);
    padding-left: 10px;
}
.contactIn .mobile{
    font-size: 100px;
    padding-left: 10px;
}
.formItems form{
    background-color: rgba(39, 48, 98, 0.15);
    padding: 30px;
    border-radius: 15px;
}
.formItems form input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    background: transparent;
    font-size: 15px;
    background-color: rgba(65, 76, 142, 0.15);
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
}
.formItems form input:hover{
    background-color: rgba(104, 167, 113, 0.15);
    color: rgb(56, 104, 56);
}
.formItems form .submit{
    font-size: 18px;
    color: rgb(103, 157, 103);
    background: rgba(76, 171, 115, 0.146);
}      
.formItems form .submit:hover{
    font-size: 17px;
    color: rgb(58, 165, 58);
    background: rgba(42, 117, 75, 0.146);
} 
.texarea{
    width: 100%;
    border: none;
    outline: none;
    height: 150px;
    background: transparent;
    font-size: 15px;
    background-color: rgba(65, 76, 142, 0.15);
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
}
.agree{
    background: rgba(0, 0, 0, 0.447);
    color: azure;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.terms{
    color: rgba(3, 143, 57, 0.527);
}
.terms:hover{
    color: rgb(24, 194, 2);
}
.termsfild{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 100px;
}
@media only screen and (max-width: 990px) {
    .formItems form input{
        width: 100%;
    }}
@media only screen and (max-width: 400px) {
    .formItems form input{
        width: 100%;
    }}
    @media only screen and (max-width: 700px) {
        .formItems h2{
            font-size: 20px;
        }}
    