$textColor:green;
$fontSize:30px;
$background: black;
$padding:10px 10px 10px 10px;
$width:300px;
$align:center;
$marginAuto:  auto;

.ParaStyle{
    color: $textColor;
    font-size: $fontSize;
    background-color: $background;
    padding: $padding;
    width: $width;
    text-align: $align;
    margin: $marginAuto;
}